body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    background: url("../img/type.png");
}

.navbar-brand img {
    width: 40px;
    height: auto;
}

.accordion-button:not(.collapsed)::after { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(180deg);
}

.accordion-item {
	margin-bottom: -1px;
	background-color: #dab9657c;
	border: 1px solid rgba(0,0,0,.125); 
}

/* Components */

.accordion-button:not(.collapsed) {
	color: #58170D;
	background-color: #e4cc8e;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.btn-spell {
    background-color: #e4cc8e;
    border-color: #eedfb7;
    font-size: 20px;
    letter-spacing: 0.9px;
}

/* Create spell */

form .form-floating,
form .row {
    margin-bottom: 10px;
}

#id_description {
	height: 200px;
}

#id_higher_level {
    height: 100px;
}

.paper-background {
    padding: 20px;
    background-color: #f3e8cc;
    position: relative;
    margin-bottom: 50px;
}

.paper-background::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height: 20px;
	width: 100%;
	background: url("../img/rip2.svg") bottom center;
	background-size: 50%;
}

.paper-background::before {
    content: "";
	position: absolute;
	top: -10px;
	left: 0;
	height: 20px;
	width: 100%;
	background: url("../img/rip2.svg") bottom center;
	background-size: 50%;
    transform: rotate(180deg);
}

/* Show spells */

.spell-labels {
    padding: 1rem 1.25rem;
    display: flex;
    font-weight: 600;
}

.spell-group {
    background-color: #eedfb7;
}



.btn-spell:hover {
    background-color: #dab965;  
}

.spell-labels__icon {
    width: 40px;
}

.spell-icon img {
    width: 40px;
}

.spell-labels__title {
    width: 250px;
    margin-left: 10px;
}

.spell-title {
    font-weight: 600;
    width: 250px;
    margin-left: 10px;
}

.spell-labels__spell-level {
    width: 70px;    
}

.spell-level {
    width: 70px;    
}

.spell-casting-time,
.spell-labels__casting-time {
    width: 140px;
    margin-left: 10px;
}

.spell-duration,
.spell-labels__duration {
    width: 150px;
    margin-left: 10px;
}

.spell-distance,
.spell-labels__distance {
    width: 150px;
}

.accordion-body {
    background-color: #eedfb7;
}

.spell-higher-level {
    color: #58170D;
    font-weight: 600;
}

.spell-somatic,
.spell-verbal,
.spell-material {
    width: 32px;
    height: 32px;
}

#werbalny,
#somatyczny,
#materialny {
    display: none;
}

.label-werbalny,
.label-somatyczny,
.label-materialny {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.form-check-inline {
    margin: 0;
    padding: 0;
}

.label-werbalny {
    background-image: url("../img/werbalny-brak.svg");
}

.label-somatyczny {
    background-image: url("../img/somatyczny-brak.svg");
}

.label-materialny {
    background-image: url("../img/materialny-brak.svg");
}

#werbalny:checked + .label-werbalny {
    background-image: url("../img/werbalny.svg");
}

#werbalny:indeterminate + .label-werbalny {
    background-image: url("../img/werbalny-neutral.svg")
}

#somatyczny:indeterminate + .label-somatyczny {
    background-image: url("../img/somatyczny-neutral.svg")
}

#materialny:indeterminate + .label-materialny {
    background-image: url("../img/materialny-neutral.svg")
}

#somatyczny:checked + .label-somatyczny {
    background-image: url("../img/somatyczny.svg");
}

#materialny:checked + .label-materialny {
    background-image: url("../img/materialny.svg");
}

.btn-search {
    width: 100px;
}