{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="paper-background">


<div class="spell-labels">
    <div class="spell-labels__icon"></div>
    <div class="spell-labels__title">Nazwa zaklęcia</div>
    <div class="spell-labels__spell-level">Poziom</div>
    <div class="spell-labels__casting-time">Czas rzucania</div>
    <div class="spell-labels__duration">Czas trwania</div>
    <div class="spell-labels__distance">Zasięg</div>
    <div class="spell-labels__components">Komponenty</div>
</div>
<div class="accordion" id="spell_list"></div>
{% for spell in spells %}
    <div class="accordion-item">
        <div class="accordion-header">
            <div class="accordion-button collapsed spell-group" type="button" data-bs-toggle="collapse" data-bs-target="#id_{{ spell.id }}"
                aria-expanded="true" aria-controls="id_{{ spell.id }}">
                <div class="spell-icon"><img src="{{ spell.spell_school.image.url }}" alt="" srcset=""></div>   
                <div class="spell-title">{{ spell.title | capfirst }}</div>
                <div class="spell-level">{{ spell.get_spell_level_display | capfirst }}</div>   
                <div class="spell-casting-time">{{ spell.get_casting_time_display | capfirst }}</div>   
                <div class="spell-duration">{{ spell.get_duration_display | capfirst }}</div>   
                <div class="spell-distance">{{ spell.distance | capfirst }}</div>
                <div class="spell-components">
                    {% if spell.verbal %}
                        <img class="spell-verbal" src="{% static 'img/werbalny.svg' %}" alt="" srcset="">
                    {% else %}
                        <img class="spell-verbal" src="{% static 'img/werbalny-brak.svg' %}" alt="" srcset="">
                    {% endif %}

                    {% if spell.somatic %}
                        <img class="spell-somatic" src="{% static 'img/somatyczny.svg' %}" alt="" srcset="">
                    {% else %}
                        <img class="spell-somatic" src="{% static 'img/somatyczny-brak.svg' %}" alt="" srcset="">
                    {% endif %}

                    {% if spell.material %}
                        <img class="spell-material" src="{% static 'img/materialny.svg' %}" alt="" srcset="">
                    {% else %}
                        <img class="spell-material" src="{% static 'img/materialny-brak.svg' %}" alt="" srcset="">
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="id_{{ spell.id }}" class="accordion-collapse collapse"
            data-bs-parent="#spell_list">
            <div class="accordion-body">
                <p>{{ spell.description }}</p>
                {% if spell.higher_level %}
                <p><span class="spell-higher-level">Na wyższych kręgach.</span> {{ spell.higher_level }}    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}