{% extends 'base.html' %}

{% block title %} | Rejestracja{% endblock %}

{% block content %}
<div class="row justify-content-center mt-1">
<div class="col-md-6 row justify-content-center paper-background mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <h2 class="text-center">Rejestracja</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" placeholder="Nazwa użytkownika" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                <label id="username" for="username">Nazwa użytkownika</label>
            </div>
            <div class="form-floating">
                <input type="password" placeholder="Hasło" name="password1" class="form-control" id="password1">
                <label id="password1" for="password1">Hasło</label>
            </div>
            <div class="form-floating">
                <input type="password" placeholder="Powtórz hasło" name="password2" class="form-control" id="password2">
                <label id="password2" for="password2">Potwierdź hasło</label>
            </div>
            <div class="text-center mt-2">
            <button type="submit" class="btn btn-spell ">Stwórz konto</button>
            </div>
        </form>
        <hr>
        <div class="text-center">
            Masz już konto? <a href="{% url 'login_user' %}">Zaloguj się</a>
        </div>
    </div>
</div>
</div>
{% endblock %}